<p>
  card works!
</p>
<div style="width: 90%; margin: 0 auto;">
    <mat-grid-list cols="3" rowHeight="700px" gutterSize="5px">
        <mat-grid-tile
          
            [colspan]="1"
            [rowspan]="1"
            [style.background]="white">
            <mat-card class="mycard">
                <mat-card-header>
                  <img mat-card-avatar src="../../../assets/person.jpeg">
                  <mat-card-title>Título persona</mat-card-title>
                  <mat-card-subtitle>Subtitulo</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/costa.jpg"> 	
                <mat-card-content>
                  <mat-card-title>Definición de Costa. Se llama costa a la orilla del mar y la tierra que se encuentra próxima a esta se trata de la parte de un continente, o en su defecto de una isla, que limita con el mar</mat-card-title>
                  <mat-card-subtitle>Subtiulo de costa</mat-card-subtitle>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-title>Título del footer</mat-card-title>
                    <mat-card-subtitle>Subtiulo de footer</mat-card-subtitle>
              
                </mat-card-footer>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile
          
        [colspan]="1"
        [rowspan]="1"
        [style.background]="white">
        <mat-card class="mycard">
            <mat-card-header>
              <img mat-card-avatar src="../../../assets/person.jpeg">
              <mat-card-title>Título persona</mat-card-title>
              <mat-card-subtitle>Subtiulo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/costa.jpg"> 	
            <mat-card-content>
              <mat-card-title>Definición de Costa. Se llama costa a la orilla del mar y la tierra que se encuentra próxima a esta se trata de la parte de un continente, o en su defecto de una isla, que limita con el mar</mat-card-title>
              <mat-card-subtitle>Subtiulo de costa</mat-card-subtitle>
            </mat-card-content>
            <mat-card-footer>
                <mat-card-title>Título del footer</mat-card-title>
                <mat-card-subtitle>Subtiulo de footer</mat-card-subtitle>
          
            </mat-card-footer>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
          
    [colspan]="1"
    [rowspan]="1"
    [style.background]="white">
    <mat-card class="mycard">
        <mat-card-header>
          <img mat-card-avatar src="../../../assets/person.jpeg">
          <mat-card-title>Título persona</mat-card-title>
          <mat-card-subtitle>Subtiulo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/costa.jpg"> 	
        <mat-card-content>
          <mat-card-title>Definición de Costa. Se llama costa a la orilla del mar y la tierra que se encuentra próxima a esta se trata de la parte de un continente, o en su defecto de una isla, que limita con el mar</mat-card-title>
          <mat-card-subtitle>Subtiulo de costa</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-title>Título del footer</mat-card-title>
            <mat-card-subtitle>Subtiulo de footer</mat-card-subtitle>
      
        </mat-card-footer>
      </mat-card>
</mat-grid-tile>
     
     
      </mat-grid-list>
      
   
  
</div>