<p>
  home works!
</p>
<!-- <mat-grid-list [cols]="colSize" rowHeight="100px">
  <mat-grid-tile
      
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'lightgreen'">
    Texto 1
  </mat-grid-tile>
  <mat-grid-tile
      
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'wheat'">
Texto 2
</mat-grid-tile>
<mat-grid-tile
      
[colspan]="1"
[rowspan]="1"
[style.background]="'red'">
Texto 3
</mat-grid-tile>
<mat-grid-tile
      
[colspan]="1"
[rowspan]="1"
[style.background]="'lightblue'">
Texto 4
</mat-grid-tile>

</mat-grid-list> -->
